[submodule "async"]
	path = async
	url = git://github.com/aslpavel/async.git
[submodule "udb"]
	path = udb
	url = git://github.com/aslpavel/udb.git
[submodule "remoting"]
	path = remoting
	url = git://github.com/aslpavel/remoting.git
